doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title='Celltype analysis'
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel="stylesheet" href=`${basepath}/static/common.css`)
    block htmlhead
  body
    block content