extends layout.pug
block htmlhead
  style(type="text/css").
    body { background-color: #ffc107; }
block content
  .vh-100
    .container.w-50
      h4.my-4.text-center= 'Sorry, server is under maintenance'
