doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title='Celltype analysis'
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
  body.bg-warning
    .container.w-50
      h4.my-4.text-center= 'Sorry, server is under maintenance'
