body {
  font-size: 12px;
}

.home-link {
  position: absolute;
  z-index: 1;
  background-color: white;
  border-bottom: 2px solid gray;
  border-right: 3px solid gray;
  padding: 0.2rem 0.5rem;
}

#control select,
#control input,
#control button {
  font-size: 12px;
}

#iterations-btn:disabled {
  opacity: 0.3;
}

#loader {
  border: 5px solid #eaeaea;
  border-top: 5px solid dodgerblue;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: #efefef;
}

tbody tr.highlight {
  background-color: #dfdfdf;
}

#clear-focus {
  padding: 0.05rem .5rem;
  font-size: .6rem;
  border-radius: .2rem;
  float: right;
  margin-right: 1rem;
}